/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s;
  z-index: 1000;
}

.navbar.scrolling {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
}

.navbar-left img {
  max-width: 100px;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s; /* Add a transition effect for color change */
  position: relative; /* Added for pseudo-element */
}

.navbar-menu li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: rgb(232, 253, 252); /* Color of the underline */
  transition: width 0.3s; 
}

.navbar-menu li:hover {
  color: rgb(216, 249, 250); /* Change color on hover */
}

.navbar-menu li:hover::before {
  width: 100%; /* Expand the underline on hover */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.2s;
}

.line.open {
  width: 30px; /* Increase width on open */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    width: 100%;
    transition: transform 0.3s;
    transform: translateX(100%);
  }

  .navbar-menu.open {
    transform: translateX(0);
  }

  .menu-icon {
    display: flex;
  }
}
